@import 'utils/_libs';
@import 'utils/_vars';
@import 'utils/_mixins';
@import 'utils/_fonts';

html {
    font-size: $base-font-size;
    height: 100%;
}

body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

audio,
canvas,
iframe,
img,
svg,
video,
textarea {
    vertical-align: middle;
}

textarea {
    resize: none;
}

section {
    position: relative;
}

input,
select,
button {
    outline: none;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.container {
    margin: 0 auto;
    max-width: $content-size;
    width: 100%;
}

@import 'modules/_modules';
